<main>
<%id = params[:id]%>

<%product = Product.find_by_id(id)%>

<h2><%=product.name%><% if product.picture_file_name%>(product category:<%=product.category%>)</h2><br>
		<%=image_tag product.picture.url(:medium)%>
	<%end%>
	<br>
Description:<%=markdown product.description%><br>
<h3>price: ₹<%=product.price%></h3><br>

<form action="create" method="post">
	<input type="hidden" name="product_id" value=<%=product.id%>>

	<input type="text" name="quantity" value="0">
	<input type="submit" value="add to cart">
</form>
</main>

